body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home {
  background-image: url(../images/image\ 53.png);
  background-position-x: center;
  background-size: cover;
width: 100%;
height: 80vh;

}

.home h1,.home p,.home button{
  color: white;
}

.home h1{
  font-weight: bolder;
  text-align: center;
  @media (max-width:400px) {
font-size:25px;
  }
  @media (max-width:500px) {
    width: 87%;
  }

  @media (min-width:800px) {
font-size: 40px;
  }

  @media (min-width:1200px) {
    font-size:50px;
      }

      @media (min-width:1300px) {
        font-size:40px;
        }
        @media (min-width:1400px) {
          font-size: 45px;
          }
          @media (min-width:1500px) {
            font-size: 50px;
            }
            @media (min-width:1600px) {
              font-size:55px;
              }

              @media (min-width:1700px) {
                font-size:58px;
                }

  @media (min-width:1800px) {
  font-size:60px;
  }
  @media (min-width:1900px) {
    font-size: 65px;
    }

}

.home p{
  @media (max-width:400px) {
    font-size:13px;
    
      }
      @media (max-width:500px) {
        width: 87%;
      }
}

.home button{
  background-color: #FF8C38;
  border-radius: 5px;
  border: 0cap;
  width:20%;
  height:8vh;
@media (max-width:500px) {
  width: 87%;
  height:8vh;
}

@media (min-width:1300px){
  font-size:16px;
}

@media (min-width:1400px){
  font-size:16px;
}

@media (min-width:1500px){
  font-size:20px;
}

@media (min-width:1600px){
  font-size: 23px;
}

@media (min-width:1700px){
  font-size:22px;
}

}

.container{
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.493);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.container a{
  color: white;
  text-decoration: none;
}

.sm-paragraph{
  text-align: start;
  @media (min-width:1300px) {
    font-size:20px;
    }
    @media (min-width:1400px) {
      font-size: 22px;
      }
      @media (min-width:1500px) {
        font-size:25px;
        }
        @media (min-width:1600px) {
          font-size:28px;
          }

          @media (min-width:1700px) {
            font-size:32px;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            }

  @media (min-width:1800px) {
    font-size:32px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    }
}